<h2>Mot de passe oublié</h2>

<form [formGroup]="form">
  <div class="columnClass">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="form.get('username')?.hasError('required')">{{ requiredMessage }}</mat-error>
    </mat-form-field>

    <div>
      <app-button [buttonText]="'Réinitialiser'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
      <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
    </div>
  </div>
</form>
