$primary-color: #2eb3db;
$button-background: transparent;
$border-color: transparent;


.navigation-button {
  font-size: large;
  position: relative;
  color: black;
  text-decoration: none;
  margin: 16px;
  padding: 12px 24px;
  background-color: $button-background;
  border: $border-color;
  border-radius: 12px;
  font-weight: bold;
  font-family: 'league_spartan_bold', serif;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 80%;
    height: 3px;
    background-color: black;
    transition: transform 700ms;
  }

  &:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

  &:hover {
    background-color: $button-background;
    transform: translateY(-2px);
    cursor: pointer;
  }
}

.custom-button,
.form-button, .delete-button, .update-button, .logout-button {
  font-weight: bold;
  background-color: $primary-color;
  border: 1px solid #ccc;
  border-radius: 22px;
  padding: 12px 24px;
  margin: 16px;
  transition: background-color 0.3s;
  color: #f3f3f3;
  cursor: pointer;
  font-family: 'league_spartan_bold', serif;

  &:hover {
    transform: translateY(-2px);
  }
}

.custom-button,
.form-button, .update-button, .login-button, .logout-button {
  &:hover {
    background-color: #f0f0f0;
    color: #2eb3db;
  }
}

.login-button {
  font-size: xx-large;
  font-weight: bold;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 10px;
  margin-top: -15px;
  transition: background-color 0.3s;
  color: $primary-color;
  cursor: pointer;
  font-family: 'league_spartan_bold', serif;

  &:hover {
    transform: translateY(-2px);
    background-color: #2eb3db;
    color: #f3f3f3;
  }
}

.delete-button, .logout-button {
  &:hover {
    background-color: #f0f0f0;
    color: red;
  }
}


.form-button, .update-button, .delete-button {
  font-size: x-large;
  margin: 50px 40px 50px 40px;
}

.delete-button, .logout-button {
  color: #f0f0f0;
  background-color: red;
}

mat-icon {
  margin-left: 7px;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: auto;
}
