<h2>Modification d'un avertissement</h2>

<form [formGroup]="warningForm">
  <div class="columnClass">
    <div class="warningInformations">
      <table>
        <thead>
        <tr>
          <th>Employé</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ warningDetails?.employee?.firstName }} {{ warningDetails?.employee?.lastName }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <mat-form-field class="reason">
        <mat-label>Raison</mat-label>
        <textarea matInput formControlName="reason" maxlength="150"></textarea>
        <mat-error *ngIf="warningForm.get('reason')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="centerClass">
  <app-button [buttonText]="'Modifier'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
  <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
</div>
