@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

form, .warningDetails {
  margin: 65px 40px 70px 40px;
  padding: 10px;
}


.rowClass {
  @extend .rowContainer;
}

.centerClass {
  @extend .centerContainer;
}

mat-form-field {
  margin: 22px 0 0 12px;
}


.warningInformations {
  font-weight: bold;
  background-color: #f8f9fa;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  transition: background-color 0.3s;
  color: black;
  width: 45rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 15px;
}


table {
  @extend .tableContainer;
}

th, td {
  @extend .thAndTdListContainer;
}

th {
  @extend .thContainer;
}

.reason {
  width: 90%;
}
