<h2>Liste des acomptes</h2>

@if (deposits.length > 0) {
  <div class="depositList">
    <table>
      <thead>
      <tr>
        <th>Employé</th>
        <th>Date</th>
        <th>Montant</th>
        <th></th>
      </tr>
      </thead>
      @for (deposit of deposits;track deposit.id) {
        <tbody>
        <tr>
          <td>{{ deposit.employee?.firstName }} {{ deposit.employee?.lastName }}</td>
          <td>{{ deposit.date | date: dateFormat }}</td>
          <td>{{ deposit.amount }} €</td>
          <td (click)="deleteDeposit(deposit.id)">
            <mat-icon>delete</mat-icon>
          </td>
        </tr>
        </tbody>
      }

    </table>
  </div>
} @else {
  <div class="depositList title">
    <p>Aucun acompte à afficher.</p>
  </div>
}

<div class="centerClass">
  <app-button [buttonText]="'Ajouter un acompte'" routerLink="/add-deposit"></app-button>
</div>
