$primary-color: #A4D6DF;
$secondary-color: #2eb3db;
$back-color: #f3f3f3;

@mixin radioButtonMixin($width) {
    background-color: $back-color;
    color: gray;
    border-radius: 10px;
    font-size: 17.4px;
    font-family: Roboto, sans-serif;
    width: #{$width};
    padding: 15px;
}

.detailsContainer {
  font-weight: bold;
  background-color: $back-color;
  color: black;
  border-radius: 10px;
  margin: 65px 40px 70px 40px;
  padding: 10px;
  border: 1px solid #ada4a4;
}

.tableContainer {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  border-radius: 10px;
}

.thAndTdContainer {
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ada4a4;
}

.thContainer {
  color: black;
  text-transform: uppercase;
  background-color: #ada4a4;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}


.h2Container {
  margin: 65px 40px 70px 40px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ada4a4;
}

.titleContainer {
  background-color: #ada4a4;
  border-radius: 5px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.startContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listTitleContainer {
  background-color: $back-color;
  border-radius: 10px;
  @extend .h2Container;
}

.bodyListContainer {
  font-weight: bold;
  background-color: $back-color;
  border: 1px solid #ada4a4;
  border-radius: 10px;
  transition: background-color 0.3s;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 45rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 65px 40px 70px 40px;
  padding: 10px;
}

.thAndTdListContainer {
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid #ada4a4;
}

.thListContainer {
  background-color: #ada4a4;
  color: black;
  text-transform: uppercase;
}

.radioButtonContainer {
  background-color: #f8f4f4;
  color: gray;
  border-radius: 10px;
  font-size: 17.4px;
  font-family: Roboto, sans-serif;
  width: 28rem;
  padding: 15px;
}

.messageStyleContainer {
  font-weight: bold;
  background-color: $back-color;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px 24px;
  margin: 16px;
  transition: background-color 0.3s;
  color: black;
  border-bottom: 1px solid #ada4a4;
}

.searchContainer {
  width: 30rem;
  margin: 65px 40px 70px 40px;
  padding: 10px;

  mat-form-field {
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li, .noResult {
    border: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    background-color: $back-color;

    &:hover {
      background-color: #7e6e6e;
      cursor: pointer;
    }
  }
}
