h2 {
  margin: 0 40px 70px 40px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.forgotPassword {
  color: #2eb3db;
  font-style: italic;
}

input {
  border: 1px solid #ada4a4;
}

a {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  &:hover {
    cursor: pointer;
  }
}

.title {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.columnClass {
  display: flex;
  flex-direction: column;
}

.centerClass {
  display: flex;
  justify-content: center;
}

app-button {
  margin-top: 3rem;
}

mat-form-field {
  margin: 10px;
}

