<h2 class="title centerClass">Page de Connexion</h2>

<form [formGroup]="form">
<div class="columnClass">
  <mat-form-field>
    <mat-label>Nom d'utilisateur</mat-label>
    <input matInput formControlName="username" maxlength="50">
    <mat-error *ngIf="form.get('username')?.hasError('required')">{{ requiredMessage }}</mat-error>
    <mat-error *ngIf="form.get('username')?.hasError('minlength')">{{ minLengthMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field class="errorMessage">
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" maxlength="50">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('password')?.hasError('required')">{{ requiredMessage }}</mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('pattern')">{{ errorMessage }}</mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('minlength')">{{ minLengthMessage }}</mat-error>
  </mat-form-field>

  <div class="forgotPassword">
    <a routerLink="/forgot-password">Mot de passe oublié ?</a>
  </div>

</div>

  <div class="centerClass">

    <app-button [buttonText]="'Se connecter'" [isSubmitButton]="true" (click)="onSubmit()"></app-button>
    <app-button [buttonText]="'Annuler'" [isResetButton]="true"></app-button>
  </div>

</form>
