<h2>Détails d'un technicien</h2>

<div *ngIf="technicianDetails" class="allPage">
  <div class="technicianDetails">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Identifiant Technicien</th>
        <th>Date de naissance</th>
        <th>Email</th>
        <th>Téléphone professionnel</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.lastName }}</td>
        <td>{{ technicianDetails.firstName }}</td>
        <td>{{ technicianDetails.idTechnician }}</td>
        <td>{{ technicianDetails.birthDate | date: dateFormat }}</td>
        <td>{{ technicianDetails.email?.email ? technicianDetails.email?.email : 'Aucun' }}</td>
        <td>{{ technicianDetails.phoneNumber?.phoneNumber ? technicianDetails.phoneNumber?.phoneNumber : 'Aucun' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="technicianDetails" class="allPage">
  <div class="technicianDetails">
    <table>
      <thead>
      <tr>
        <th>Zone</th>
        <th>Login</th>
        <th>Mot de passe</th>
        <th>Début de production</th>
        <th>Fin de production</th>
        <th>Entreprise</th>
        <th>DPAE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.area }}</td>
        <td>{{ technicianDetails.login }}</td>
        <td>{{ technicianDetails.password }}</td>
        <td>{{ technicianDetails.productionStart | date: dateFormat }}</td>
        <td>{{ technicianDetails.productionEnd ? (technicianDetails.productionEnd | date: dateFormat) : 'Aucune' }}</td>
        <td>{{ technicianDetails.contractor?.name ? technicianDetails.contractor?.name : 'Aucune' }}</td>
        <td>{{ technicianDetails.hasDPAE ? 'OK' : 'NOK' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="technicianDetails secondTable">
    <table>
      <thead>
      <tr>
        <th>Commentaire</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.comment ? technicianDetails.comment : 'Aucun' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons">
    <app-button [buttonText]="'Modifier'" [isUpdateButton]=true
                [routerLink]="['/update-technician', technicianDetails.id]">
    </app-button>
    <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
    <app-button *ngIf="authService.roles.includes('ADMIN')" [buttonText]="'Supprimer'" [isDeleteButton]=true (onClick)="deleteTechnician()"></app-button>
    <app-button [buttonText]="technicianDetails.active?.isActive ?
    'Actif' : 'Inactif'" [isUpdateButton]="true" (onClick)="updateStateTechnician()">

    </app-button>
  </div>

</div>

