@import '../../../../assets/style/palette';

.allPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.technicianDetails {
 @extend .detailsContainer;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

table {
  @extend .tableContainer;
}

.secondTable {
  margin-top: 30px;
  width: 60rem;
}

th, td {
  @extend .thAndTdContainer;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}

.buttons {
  @extend .buttonsContainer;
}
