@import '../../../../assets/style/palette';

.allPage {
  display: block;
  width: 50rem;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

.rowClass {
  @extend .rowContainer;
}

.full-width {
  width: 100%;
}

.centerClass {
  @extend .centerContainer;
}

.dates {
  margin-top: 30px;
}

.half-width {
  width: 70%;
}

.telNumber {
  display: flex;
  flex-direction: row;
  width: 27.2rem;
  margin-left: -12px;
}

#address {
  margin: 44px 0 20px 0;
}

.startFlex {
  @extend .startContainer;
  gap: 5.2rem;
}
