<h2>Liste des utilisateurs</h2>
<div *ngIf="users && users.length > 0" class="userListStyle">
  <table>
    <thead>
    <tr>
      <th>Nom d'utilisateur</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Role(s)</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.email?.email }}</td>
      <td>
        <ng-container *ngIf="user.roles && user.roles.length > 0">
          <ng-container *ngIf="user.roles.length === 1">
            {{ user.roles[0] }}
          </ng-container>
          <ng-container *ngIf="user.roles.length > 1">
              <span *ngFor="let role of user.roles; let last = last">
                {{ role }}{{ !last ? ', ' : '' }}
              </span>
          </ng-container>
        </ng-container>
      </td>
      <td [routerLink]="['/update-user', user.id]">
        <mat-icon>create</mat-icon>
      </td>
      <td (click)="deleteUser(user.id)" id="deleteIcon">
        <mat-icon>delete</mat-icon>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!users || users.length === 0" class="userListStyle">
  <p>Aucun utilisateur à afficher</p>
</div>

<div class="centerClass">
  <app-button [buttonText]="'Ajouter un utilisateur'" routerLink="/add-user"></app-button>
</div>
