@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.centerClass {
  @extend .centerContainer;
}

.columnClass {
  @extend .columnContainer;
}

.emptyMessage {
  @extend .messageStyleContainer;
}

.picker {
  width: 13.3rem;
}

.reason {
  width: 100%;
}
