@import '../../../../assets/style/palette';


form {
  margin: 65px 40px 70px 40px;
  padding: 10px;
}

h2 {
  @extend .h2Container, .detailsContainer;
}


.rowClass {
  @extend .rowContainer;
}

.full-width {
  width: 98%;
}

.columnClass {
  @extend .columnContainer;
}

.centerClass {
  @extend .centerContainer;
}

.radioButton {
  @extend .radioButtonContainer;
}

#radioButtonLabel {
  margin-right: 5rem;
}

.spaceBetweenRadioButton {
  margin-right: 3rem;
}

mat-form-field {
  margin: 12px;
}

.startFlex {
  @extend .startContainer;
  gap: 48px;
}
