.refundDetails {
  font-weight: bold;
  background-color: #f3f3f3;
  color: black;
  border-radius: 10px;
}

form, .refundDetails {
  margin: 65px 40px 70px 40px;
  padding: 10px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}


.rowClass {
  display: flex;
  flex-direction: row;
}

.centerClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 22px 0 0 12px;
}


.refundInformations {
  font-weight: bold;
  background-color: #f8f9fa;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  transition: background-color 0.3s;
  color: black;
  width: 45rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 15px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  border-radius: 10px;
}

th, td {
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ada4a4;
  color: black;
  text-transform: uppercase;
}

