<h2 class="refundDetails">Modification d'un remboursement</h2>

  <form [formGroup]="refundForm">
    <div class="rowClass">
    <div class="refundInformations">
      <table>
        <thead>
        <tr>
          <th>Employé</th>
          <th>Date</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ refundDetails?.employee?.firstName }} {{ refundDetails?.employee?.lastName }}</td>
          <td>{{ refundDetails?.date | date: dateFormat}}</td>
          <td>{{ refundDetails?.totalRefund }} €</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <mat-form-field>
        <mat-label>État</mat-label>
        <mat-select formControlName="refundState">
          <mat-option value="ON_GOING">En cours</mat-option>
          <mat-option value="COMPLETED">Effectué</mat-option>
        </mat-select>
        <mat-error *ngIf="refundForm.get('refundState')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>
    </div>
  </form>

<div class="centerClass">
  <app-button [buttonText]="'Modifier'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
  <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
</div>
