@import '../../../../assets/style/palette';

.allPage {
  display: block;
  width: 52rem;
  margin: 0 auto;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

.centerClass {
  @extend .buttonsContainer;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spaceBetweenFirstLine {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rowClass {
  @extend .rowContainer;
}

.spaceBetweenFirstAndLastName {
  margin-left: 7px;
}

.spaceBetweenAreaAndFirstName {
  margin-right: 46px;
}

mat-form-field {
  margin: 12px;
}

.emptyMessage {
  @extend .messageStyleContainer;
}

button {
  cursor: pointer;
}

.full-width {
  width: 98%;
}

.telNumber {
  width: 28rem;
  margin-left: -20px;
}

.production {
  margin-left: -15px;
}

.technicianDetails {
  @extend .detailsContainer;
}

.messageStyle {
  @extend .messageStyleContainer;
}

.startFlex {
  @extend .startContainer;
  gap: 67px;
}

.radioButton {
  @extend .radioButtonContainer;
}

#radioButtonLabel {
  margin-right: 5rem;
}

.spaceBetweenRadioButton {
  margin-right: 3rem;
}
