<form [formGroup]="form">
  <h2>Ajout d'un acompte</h2>

  <div class="columnClass">
    <ng-container *ngIf="employees.length > 0; else noEmployees">
      <mat-form-field>
        <mat-label>Employés</mat-label>
        <mat-select formControlName="employee">
          <mat-option *ngFor="let employee of employees"
                      [value]="employee">{{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('employee')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </ng-container>
    <ng-template #noEmployees>
      <p class="emptyMessage">{{ emptyEmployeeMessage }}</p>
    </ng-template>

    <mat-form-field id="date">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="datePicker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error *ngIf="form.get('date')?.hasError('required')">{{ requiredMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Montant</mat-label>
      <input matInput formControlName="amount" maxlength="10">
      <mat-error *ngIf="form.get('amount')?.hasError('required')">{{ requiredMessage }}</mat-error>
      <mat-error *ngIf="form.get('amount')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
    </mat-form-field>
  </div>

  <div class="centerClass">
    <app-button [isSubmitButton]="true" buttonText="Ajouter" (onClick)="onSubmit()"></app-button>
    <app-button [isResetButton]="true" buttonText="Annuler"></app-button>
  </div>
</form>

