<div class="allPage">
  <h2>Ajout d'un technicien</h2>

  <form [formGroup]="form">

    <div class="rowClass spaceBetweenFirstLineElements">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" maxlength="50">
        <mat-error *ngIf="form.get('lastName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field class="spaceBetweenFirstAndLastName">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" maxlength="50">
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field class="spaceBetweenAreaAndFirstName">
        <mat-label>Zone</mat-label>
        <input matInput formControlName="area" maxlength="2">
        <mat-error *ngIf="form.get('area')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="form.get('area')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div class="rowClass">
      <mat-form-field>
        <mat-label>Identifiant technicien</mat-label>
        <input matInput formControlName="idTechnician" maxlength="20">
        <mat-error *ngIf="form.get('idTechnician')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="form.get('idTechnician')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" maxlength="50">
        <mat-error *ngIf="form.get('login')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" maxlength="50">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>

    </div>

    <div class="rowClass">
      <mat-form-field>
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="birthPicker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthPicker></mat-datepicker>
        <mat-error *ngIf="form.get('birthDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field class="production">
        <mat-label>Début de production</mat-label>
        <input matInput [matDatepicker]="productionStart" formControlName="productionStart">
        <mat-datepicker-toggle matSuffix [for]="productionStart"></mat-datepicker-toggle>
        <mat-datepicker #productionStart></mat-datepicker>
        <mat-error *ngIf="form.get('productionStart')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field class="production">
        <mat-label>Fin de production</mat-label>
        <input matInput [matDatepicker]="productionEnd" formControlName="productionEnd">
        <mat-datepicker-toggle matSuffix [for]="productionEnd"></mat-datepicker-toggle>
        <mat-datepicker #productionEnd></mat-datepicker>
        <mat-error *ngIf="form.get('productionEnd')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div class="startFlex">
      <div formGroupName="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email.email')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="form.get('email.email')?.hasError('email')">{{ invalidEmailMessage }}</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="phoneNumber">
        <mat-form-field class="telNumber">
          <mat-label>Téléphone professionnel</mat-label>
          <input matInput formControlName="phoneNumber" maxlength="10">
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('minlength')">{{ lengthTelNumberMessage }}</mat-error>
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('maxlength')">{{ lengthTelNumberMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="comment" maxlength="150"></textarea>
        <mat-error *ngIf="form.get('comment')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div class="columnClass">
      <ng-container *ngIf="contractors.length > 0; else noCompanies">
        <mat-form-field>
          <mat-label>Entreprise</mat-label>
          <mat-select formControlName="contractor">
            <mat-option *ngFor="let contractor of contractors" [value]="contractor">{{ contractor.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('contractor')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-template #noCompanies>
        <p class="emptyMessage">{{ emptyContractorMessage }}</p>
      </ng-template>
    </div>

    <div class="columnClass radioButton">
      <mat-radio-group formControlName="hasDPAE">
        <mat-label id="radioButtonLabel">DPAE :</mat-label>
        <mat-radio-button value='true' class="spaceBetweenRadioButton">OK</mat-radio-button>
        <mat-radio-button value='false'>NOK</mat-radio-button>
        <mat-error *ngIf="form.get('hasDPAE')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-radio-group>
    </div>

    <div class="centerClass">
      <app-button [isSubmitButton]="true" buttonText="Ajouter" (onClick)="onSubmit()"></app-button>
      <app-button [isResetButton]="true" buttonText="Annuler"></app-button>
    </div>
  </form>

</div>
