<h1 mat-dialog-title>{{ data.titre }}</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Oui</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Non</button>
</div>
