@import '../../../../assets/style/palette';

.allPage {
  display: block;
  width: 50rem;
  margin: 0 auto;
}

#secuNumber {
  margin-left: -2px;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rowClass {
  @extend .rowContainer;
}

.full-width {
  width: 97%;
}

.columnClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.centerClass {
@extend .centerContainer;
}

.widthDate {
  width: 13.3rem;
}

.startFlex {
  @extend .startContainer;
  gap: 3rem;
}

.radioButton {
 @extend .radioButtonContainer;
}

#radioButtonLabel {
  margin-right: 5rem;
}

.spaceBetweenRadioButton {
  margin-right: 3rem;
}

mat-form-field {
  margin: 12px;
}
