<div class="allPage">
  <h2>Ajout d'un employé</h2>

  <form [formGroup]="form">

    <div class="rowClass">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" maxlength="70">
        <mat-error *ngIf="form.get('lastName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" maxlength="70">
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="birthPicker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthPicker></mat-datepicker>
        <mat-error *ngIf="form.get('birthDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="address">
      <mat-form-field class="full-width">
        <mat-label>Adresse</mat-label>
        <textarea matInput formControlName="contentAddress" maxlength="150"></textarea>
        <mat-error *ngIf="form.get('address.contentAddress')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>

      <div class="rowClass">
        <mat-form-field>
          <mat-label>Code Postal</mat-label>
          <input matInput formControlName="zipCode" maxlength="5">
          <mat-error *ngIf="form.get('address.zipCode')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="form.get('address.zipCode')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ville</mat-label>
          <input matInput formControlName="city">
          <mat-error *ngIf="form.get('address.city')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pays</mat-label>
          <input matInput formControlName="country">
          <mat-error *ngIf="form.get('address.country')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="startFlex">
      <div formGroupName="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email.email')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="form.get('email.email')?.hasError('email')">{{ invalidEmailMessage }}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field id="secuNumber">
        <mat-label>N° de sécurité sociale</mat-label>
        <input matInput formControlName="secuNumber" maxlength="13">
        <mat-error *ngIf="form.get('secuNumber')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="form.get('secuNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
        <mat-error *ngIf="form.get('secuNumber')?.hasError('minlength')">{{ lengthSecuNumberMessage }}</mat-error>
        <mat-error *ngIf="form.get('secuNumber')?.hasError('maxlength')">{{ lengthSecuNumberMessage }}</mat-error>
      </mat-form-field>
    </div>
    <div class="rowClass">
      <mat-form-field>
        <mat-label>Métier</mat-label>
        <input matInput formControlName="jobType" maxlength="60">
        <mat-error *ngIf="form.get('jobType')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Téléphone personnel</mat-label>
        <input matInput formControlName="personalPhoneNumber" maxlength="10">
        <mat-error *ngIf="form.get('personalPhoneNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
        <mat-error *ngIf="form.get('personalPhoneNumber')?.hasError('minlength')">{{ lengthTelNumberMessage }}</mat-error>
        <mat-error *ngIf="form.get('personalPhoneNumber')?.hasError('maxlength')">{{ lengthTelNumberMessage }}</mat-error>
      </mat-form-field>
      <div formGroupName="phoneNumber">
        <mat-form-field>
          <mat-label>Téléphone professionnel</mat-label>
          <input matInput formControlName="phoneNumber" maxlength="10">
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('minlength')">{{ lengthTelNumberMessage }}</mat-error>
          <mat-error *ngIf="form.get('phoneNumber.phoneNumber')?.hasError('maxlength')">{{ lengthTelNumberMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="columnClass">
      <mat-form-field>
        <mat-label>Type de contrat</mat-label>
        <mat-select formControlName="contractType">
          <mat-option value="PERMANENT_CONTRACT">CDI</mat-option>
          <mat-option value="FIXED_TERM_CONTRACT">CDD</mat-option>
          <mat-option value="INTERIM">Intérim</mat-option>
          <mat-option value="INTERNSHIP">Stage</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('hasCompanyMutual')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>
    <div class="startFlex">

      <mat-form-field class="widthDate">
        <mat-label>Date d'entrée</mat-label>
        <input matInput [matDatepicker]="entryPicker" formControlName="entryDate">
        <mat-datepicker-toggle matSuffix [for]="entryPicker"></mat-datepicker-toggle>
        <mat-datepicker #entryPicker></mat-datepicker>
        <mat-error *ngIf="form.get('entryDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="form.hasError('dateRangeError', 'entryDate')">
          {{ beforeDateMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="form.get('contractType')?.value === 'FIXED_TERM_CONTRACT' ||
                     form.get('contractType')?.value === 'INTERIM'" class="widthDate">
        <mat-label>Date de sortie</mat-label>
        <input matInput [matDatepicker]="exitPicker" formControlName="exitDate">
        <mat-datepicker-toggle matSuffix [for]="exitPicker"></mat-datepicker-toggle>
        <mat-datepicker #exitPicker></mat-datepicker>
        <mat-error *ngIf="form.get('exitDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="form.hasError('dateRangeError', 'exitDate')">
          {{ afterDateMessage }}
        </mat-error>
      </mat-form-field>

    </div>
    <div class="startFlex">
      <mat-form-field>
        <mat-label>Mutuelle</mat-label>
        <mat-select formControlName="hasCompanyMutual">
          <mat-option value='true'>Oui</mat-option>
          <mat-option value='false'>Non</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('hasCompanyMutual')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="form.get('hasCompanyMutual')?.value === 'true'">
        <mat-label>Type de Mutuelle</mat-label>
        <mat-select formControlName="mutualType">
          <mat-option value="INDIVIDUAL">Individuelle</mat-option>
          <mat-option value="FAMILY">Familiale</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('mutualType')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div class="columnClass radioButton">
      <mat-radio-group formControlName="foreignWorker">
        <mat-label id="radioButtonLabel">Travailleur étranger :</mat-label>
        <mat-radio-button value='true' class="spaceBetweenRadioButton">Oui</mat-radio-button>
        <mat-radio-button value='false'>Non</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="centerClass">
      <app-button [isSubmitButton]="true" buttonText="Ajouter" (onClick)="onSubmit()"></app-button>
      <app-button [isResetButton]="true" buttonText="Annuler"></app-button>
    </div>
  </form>

</div>
