<h2>Liste des techniciens</h2>

  <div *ngIf="technicians.length > 0" class="technicianListStyle">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Entreprise</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let technician of currentPageData"
          [ngStyle]="{'color' : technician.active?.isActive ? '' : 'red'}">
        <td>{{ technician.lastName }}</td>
        <td>{{ technician.firstName }}</td>
        <td>{{ technician.contractor?.name }}</td>
        <td>
          <app-button
            [buttonText]="'Voir les détails'"
            [routerLink]="['/technician-details', technician.id]"
          ></app-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="technicians.length === 0" class="technicianListStyle">
    <p>Aucun technicien à afficher</p>
  </div>

<app-paginator [totalItems]="totalTechnicians" [pageSize]="pageSize" (pageChanged)="onPageChanged($event)"></app-paginator>


