@font-face {
  font-family: 'league_spartan_bold';
  src: url('/assets/font/League_Spartan/LeagueSpartan-Bold.ttf') format('truetype');
}

.background {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/29/13/46/ai-generated-8350294_1280.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.router {
  margin-top: 5rem;
}

app-footer {
  margin-top: 40px;
}

app-navigation {
  width: 100%;
  z-index: 1000;
}

.fixed {
  position: fixed;
}

.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .router-outlet-container {
    margin-top: 5rem;
  }

  app-footer {
    margin-top: 20px;
  }
}
