<div *ngIf="showLoading" class="loading-fullscreen">
  <app-loading></app-loading>
</div>
<div *ngIf="!showLoading" [ngClass]="{'background': !authService.isAuthenticated}" class="page-container">
  <div class="container">
    <app-navigation [ngClass]="{'fixed': authService.isAuthenticated}"></app-navigation>
    <router-outlet [ngClass]="{'router': authService.isAuthenticated}"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
