<h2>Détails d'un prestataire</h2>

<div>
  <div *ngIf="contractorDetails" class="contractorDetails">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Responsable</th>
        <th>N° de SIREN</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Email</th>
        <th>Début KBIS ou RNE</th>
        <th>Fin KBIS ou RNE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ contractorDetails.name }}</td>
        <td>{{ contractorDetails.responsibleName }}</td>
        <td>{{ contractorDetails.sirenNumber ? contractorDetails.sirenNumber : 'Aucun' }}</td>
        <td>{{
            contractorDetails.phoneNumber?.phoneNumber ?
              contractorDetails.phoneNumber?.phoneNumber : 'Aucun'
          }}
        </td>
        <td>{{ contractorDetails.address?.contentAddress }}</td>
        <td>{{ contractorDetails.address?.zipCode }}</td>
        <td>{{ contractorDetails.address?.city }}</td>
        <td>{{ contractorDetails.address?.country }}</td>
        <td>{{ contractorDetails.email?.email ? contractorDetails.email?.email : 'Aucun' }}</td>
        <td>
          {{
            contractorDetails.contractorInformations?.kbisStartDate ?
              (contractorDetails.contractorInformations?.kbisStartDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td [ngStyle]="{'color': isEndDate(contractorDetails.contractorInformations?.kbisEndDate) ? 'red' : ''}">
          {{
            contractorDetails.contractorInformations?.kbisEndDate ?
              (contractorDetails.contractorInformations?.kbisEndDate | date: dateFormat) : 'Aucune'
          }}
        </td>
      </tr>
      </tbody>
    </table>

    <table class="secondTable">
      <thead>
      <tr>
        <th>Début URSSAF</th>
        <th>Fin URSSAFF</th>
        <th>Début attestation décennale</th>
        <th>Fin attestation décennale</th>
        <th>Début attestation travailleurs étrangers</th>
        <th>Fin attestation travailleurs étrangers</th>
        <th>Début attestation régularité fiscale</th>
        <th>Fin attestation régularité fiscale</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          {{
            contractorDetails.contractorInformations?.urssafStartDate ?
              (contractorDetails.contractorInformations?.urssafStartDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td [ngStyle]="{'color': isEndDate(contractorDetails.contractorInformations?.urssafEndDate) ? 'red' : ''}">
          {{
            contractorDetails.contractorInformations?.urssafEndDate ?
              (contractorDetails.contractorInformations?.urssafEndDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td>
          {{
            contractorDetails.contractorInformations?.decennaleStartDate ?
              (contractorDetails.contractorInformations?.decennaleStartDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td [ngStyle]="{'color': isEndDate(contractorDetails.contractorInformations?.decennaleEndDate) ? 'red' : ''}">
          {{
            contractorDetails.contractorInformations?.decennaleEndDate ?
              (contractorDetails.contractorInformations?.decennaleEndDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td>
          {{
            contractorDetails.contractorInformations?.foreignWorkersStartDate ?
              (contractorDetails.contractorInformations?.foreignWorkersStartDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td
          [ngStyle]="{'color': isEndDate(contractorDetails.contractorInformations?.foreignWorkersEndDate) ? 'red' : ''}">
          {{
            contractorDetails.contractorInformations?.foreignWorkersEndDate ?
              (contractorDetails.contractorInformations?.foreignWorkersEndDate | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td>
          {{
            contractorDetails.contractorInformations?.taxRegularityCertificateStart ?
              (contractorDetails.contractorInformations?.taxRegularityCertificateStart | date: dateFormat) : 'Aucune'
          }}
        </td>
        <td
          [ngStyle]="{'color': isEndDate(contractorDetails.contractorInformations?.taxRegularityCertificateEnd) ? 'red' : ''}">
          {{
            contractorDetails.contractorInformations?.taxRegularityCertificateEnd ?
              (contractorDetails.contractorInformations?.taxRegularityCertificateEnd | date: dateFormat) : 'Aucune'
          }}
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <app-button [buttonText]="(!showTechnicians ? 'Voir les techniciens' : 'Ne plus voir')"
              (onClick)="toggleTechnicians()" class="listTechnicianByCompany"></app-button>
  <div *ngIf="showTechnicians">
    <h3 class="contractorDetails">Liste des techniciens</h3>
    <div class="listTechnicianByCompany">

      <div *ngIf="contractorDetails?.technicians?.length" class="technicianListe">
        <table>
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let technician of contractorDetails?.technicians">
          <tr [ngStyle]="{'color': technician.active?.isActive ? '' : 'red'}">
            <td>{{ technician.lastName }}</td>
            <td>{{ technician.firstName }}</td>
            <td>
              <app-button
                [buttonText]="'Voir les détails'"
                [routerLink]="['/technician-details', technician.id]"
              ></app-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!contractorDetails?.technicians?.length" class="emptyMessage">
        <p>Aucun technicien à afficher.</p>
      </div>

    </div>
  </div>
  <div class="buttons">
    <app-button [buttonText]="'Modifier'" [isUpdateButton]="true"
                [routerLink]="['/update-contractor', contractorDetails?.id]"></app-button>
    <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
    <app-button *ngIf="authService.roles.includes('ADMIN')" [buttonText]="'Supprimer'" [isDeleteButton]="true"
                (onClick)="deleteContractor()"></app-button>
    <app-button [buttonText]="contractorDetails?.active?.isActive ?
       'Actif' : 'Inactif'" [isUpdateButton]="true" (onClick)="updateStateContractor()"></app-button>
  </div>
</div>
