<h2>Liste des avertissements</h2>

@if (warnings.length > 0) {
  <div class="warningList">
    <table>
      <thead>
      <tr>
        <th>N°</th>
        <th>Employé</th>
        <th>Date</th>
        <th>Raison</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      @for (warning of warnings;track warning.id) {
        <tbody>
        <tr>
          <td>{{ warning.number }}</td>
          <td>{{ warning.employee?.firstName }} {{ warning.employee?.lastName }}</td>
          <td>{{ warning.date | date: dateFormat }}</td>
          <td>
            <app-button [buttonText]="'Voir plus'" (onClick)="showWarningReason(warning.reason)"></app-button>
          </td>

          <td [routerLink]="['/update-warning', warning.id]">
            <mat-icon>create</mat-icon>
          </td>
          <td (click)="deleteWarning(warning.id)" id="deleteIcon">
            <mat-icon>delete</mat-icon>
          </td>
        </tr>
        </tbody>
      }

    </table>
  </div>
} @else {
  <div class="warningList title">
    <p>Aucun avertissement à afficher.</p>
  </div>
}

<div class="centerClass">
  <app-button [buttonText]="'Ajouter un avertissement'" routerLink="/add-warning"></app-button>
</div>
