@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}


.warningList {
  @extend .bodyListContainer;
}


table {
  @extend .tableContainer;
}

th, td {
  @extend .thAndTdListContainer;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#deleteIcon {
  color: red;
}

mat-icon:active {
  transform: translateY(2px);
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover {
  color: darkred;
}

.centerClass {
 @extend .centerContainer;
}
