<div class="allPage">

  <h2>Modification d'un prestataire</h2>

  <form [formGroup]="contractorForm">
    <div class="rowClass">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="contractorForm.get('name')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Responsable</mat-label>
        <input matInput formControlName="responsibleName">
        <mat-error *ngIf="contractorForm.get('responsibleName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>N° de SIREN</mat-label>
        <input matInput formControlName="sirenNumber" maxlength="9">
        <mat-error *ngIf="contractorForm.get('sirenNumber')?.hasError('required')">{{ requiredMessage }}</mat-error>
        <mat-error *ngIf="contractorForm.get('sirenNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
        <mat-error *ngIf="contractorForm.get('sirenNumber')?.hasError('minlength')">{{ lengthSirenNumberMessage }}</mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="address">
      <mat-form-field class="full-width" id="address">
        <mat-label>Adresse</mat-label>
        <textarea matInput formControlName="contentAddress"></textarea>
        <mat-error *ngIf="contractorForm.get('address.contentAddress')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>

      <div class="rowClass">
        <mat-form-field>
          <mat-label>Code Postal</mat-label>
          <input matInput formControlName="zipCode">
          <mat-error *ngIf="contractorForm.get('address.zipCode')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.get('address.zipCode')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ville</mat-label>
          <input matInput formControlName="city">
          <mat-error *ngIf="contractorForm.get('address.city')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pays</mat-label>
          <input matInput formControlName="country">
          <mat-error *ngIf="contractorForm.get('address.country')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="startFlex">
      <div formGroupName="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="contractorForm.get('email.email')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.get('email.email')?.hasError('email')">{{ invalidEmailMessage }}</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="phoneNumber">
        <mat-form-field class="rowClass telNumber">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="phoneNumber" maxlength="10">
          <mat-error *ngIf="contractorForm.get('phoneNumber.phoneNumber')?.hasError('pattern')">{{ onlyNumberMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.get('phoneNumber.phoneNumber')?.hasError('minlength')">{{ lengthTelNumberMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.get('phoneNumber.phoneNumber')?.hasError('maxlength')">{{ lengthTelNumberMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div formGroupName="contractorInformations" class="dates">
      <div class="rowClass">
        <mat-form-field class="half-width">
          <mat-label>Début KBIS ou RNE</mat-label>
          <input matInput [matDatepicker]="kbisStartPicker" formControlName="kbisStartDate">
          <mat-datepicker-toggle matSuffix [for]="kbisStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #kbisStartPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.get('contractorInformations.kbisStartDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.kbisStartDate')">
            {{ beforeDateMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Fin KBIS ou RNE</mat-label>
          <input matInput [matDatepicker]="kbisEndPicker" formControlName="kbisEndDate">
          <mat-datepicker-toggle matSuffix [for]="kbisEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #kbisEndPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.get('contractorInformations.kbisEndDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.kbisEndDate')">
            {{ afterDateMessage }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="rowClass">
        <mat-form-field class="half-width">
          <mat-label>Début attestation vigilance URSSAF</mat-label>
          <input matInput [matDatepicker]="urssafStartPicker" formControlName="urssafStartDate">
          <mat-datepicker-toggle matSuffix [for]="urssafStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #urssafStartPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.get('contractorInformations.urssafStartDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.urssafStartDate')">
            {{ beforeDateMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Fin attestation vigilance URSSAF</mat-label>
          <input matInput [matDatepicker]="urssafEndPicker" formControlName="urssafEndDate">
          <mat-datepicker-toggle matSuffix [for]="urssafEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #urssafEndPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.get('contractorInformations.urssafEndDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.urssafEndDate')">
            {{ afterDateMessage }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="rowClass">
        <mat-form-field class="half-width">
          <mat-label>Début assurance Décennale</mat-label>
          <input matInput [matDatepicker]="decennaleStartPicker" formControlName="decennaleStartDate">
          <mat-datepicker-toggle matSuffix [for]="decennaleStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #decennaleStartPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.get('contractorInformations.decennaleStartDate')?.hasError('required')">{{ requiredMessage }}</mat-error>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.decennaleStartDate')">
            {{ beforeDateMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Fin assurance Décennale</mat-label>
          <input matInput [matDatepicker]="decennaleEndPicker" formControlName="decennaleEndDate">
          <mat-datepicker-toggle matSuffix [for]="decennaleEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #decennaleEndPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.decennaleEndDate')">
            {{ afterDateMessage }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="rowClass">
        <mat-form-field class="half-width">
          <mat-label>Début attestation travailleurs étrangers</mat-label>
          <input matInput [matDatepicker]="foreignWorkersStartPicker" formControlName="foreignWorkersStartDate">
          <mat-datepicker-toggle matSuffix [for]="foreignWorkersStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #foreignWorkersStartPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.foreignWorkersStartDate')">
            {{ beforeDateMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Fin attestation travailleurs étrangers</mat-label>
          <input matInput [matDatepicker]="foreignWorkersEndPicker" formControlName="foreignWorkersEndDate">
          <mat-datepicker-toggle matSuffix [for]="foreignWorkersEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #foreignWorkersEndPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.foreignWorkersEndDate')">
            {{ afterDateMessage }}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="rowClass">
        <mat-form-field class="half-width">
          <mat-label>Début taxe de régularité fiscale</mat-label>
          <input matInput [matDatepicker]="taxRegularityStartPicker" formControlName="taxRegularityCertificateStart">
          <mat-datepicker-toggle matSuffix [for]="taxRegularityStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #taxRegularityStartPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.taxRegularityCertificateStart')">
            {{ beforeDateMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Fin taxe de régularité fiscale</mat-label>
          <input matInput [matDatepicker]="taxRegularityEndPicker" formControlName="taxRegularityCertificateEnd">
          <mat-datepicker-toggle matSuffix [for]="taxRegularityEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #taxRegularityEndPicker></mat-datepicker>
          <mat-error *ngIf="contractorForm.hasError('dateRangeError', 'contractorInformations.taxRegularityCertificateEnd')">
            {{ afterDateMessage }}
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="centerClass">
      <app-button [buttonText]="'Modifier'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
      <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
    </div>

  </form>

</div>


