h1 {
  font-size: 6em;
  margin: 50px 0 0 0;
  font-family: 'league_spartan_bold', serif;
  opacity: 0;
  animation: slidein 2s ease-in-out forwards;
  color: #2eb3db;
}

h1:hover {
  cursor: pointer;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

img {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 70px;
  height: 70px;
  margin: 50px 0 0 20px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titleAndImage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
  }
}
