<h2>Modification d'un utilisateur</h2>

<form [formGroup]="form" class="center">

  <div class="columnClass">
    <div class="rowClass">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="form.get('lastName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
    </div>
    <div class="rowClass">
      <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="form.get('username')?.hasError('required')">{{ requiredMessage }}</mat-error>
      </mat-form-field>
      <div formGroupName="email">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="form.get('email.email')?.hasError('required')">{{ requiredMessage }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Rôle(s)</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('roles')?.hasError('required')">{{ requiredMessage }}</mat-error>
    </mat-form-field>

  </div>

</form>

<div class="rowClass">
  <app-button [buttonText]="'Modifier'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
  <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
</div>
