@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.center {
  display: flex;
  justify-content: center;
}

.columnClass {
  @extend .columnContainer;
}

.rowClass {
  @extend .rowContainer;
}
