<h2>Liste des prestataires</h2>


  <div *ngIf="contractors.length > 0" class="contractorListStyle">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Responsable</th>
        <th></th>
      </tr>
      </thead>

        <tbody *ngFor="let contractor of contractors">
        <tr [ngStyle]="{'color': contractor.active?.isActive ? '' : 'red'}">
          <td>{{ contractor.name }}</td>
          <td>{{ contractor.responsibleName }}</td>
          <td>
            <app-button
              [buttonText]="'Voir les détails'"
              [routerLink]="['/audit-contractor-details', contractor.id]"
            ></app-button>
          </td>
        </tr>
        </tbody>

    </table>
  </div>

  <div *ngIf="contractors.length === 0" class="contractorListStyle title">
    <p>Aucun prestataire à afficher.</p>
  </div>


