.footerContent {
  font-weight: bold;
  background-color: #f3f3f3;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px 24px;
  margin: 16px;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50rem;
}

@media only screen and (max-width: 768px) {
  .footerContent {
    width: auto;
    text-align: center;
    font-size: small;
    margin-top: -50px;
  }
}

