<h2>Paramètres du compte</h2>

<div class="allPage">
  <div *ngIf="userDetails" class="settingsDetails">

    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ userDetails.lastName }}</td>
        <td>{{ userDetails.firstName }}</td>
        <td>{{ userDetails.username }}</td>
        <td>{{ userDetails.email?.email }}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <app-button [buttonText]="'Changer de mot de passe'" [routerLink]="['/password-change', userDetails?.username]"></app-button>

</div>
