@import '../../../../assets/style/palette';

.settingsDetails {
  font-weight: bold;
  background-color: $back-color;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

table {
  @extend .tableContainer;
}

th, td {
  @extend .thAndTdContainer;
}

.allPage {
  @extend .centerContainer;
  flex-direction: column;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}
