<app-button [buttonText]="'Voir les techniciens'" (onClick)="technicianList()"></app-button>
<app-button [buttonText]="'Ajouter un technicien'" (onClick)="addTechnician()"></app-button>
<app-button [buttonText]="'Rechercher un technicien'" (onClick)="searchTechnician()"></app-button>

