@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.contractorListStyle {
  @extend .bodyListContainer;
}

table {
  @extend .tableContainer;
}

th, td {
  @extend .thAndTdListContainer;
}

th {
 @extend .thListContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}

mat-icon {
  color: red;
}
