<h2>Liste des prestataires</h2>

<div *ngIf="contractors.length > 0">
  <div *ngFor="let contractor of contractors" class="contractorListStyle">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Responsable</th>
        <th *ngIf="showWarningIcon(contractor.contractorInformations)"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr [ngStyle]="{'color': contractor.active?.isActive ? '' : 'red'}">
        <td>{{ contractor.name }}</td>
        <td>{{ contractor.responsibleName }}</td>
        <td *ngIf="showWarningIcon(contractor.contractorInformations)">
          <mat-icon>warning</mat-icon>
        </td>
        <td>
          <app-button
            [buttonText]="'Voir les détails'"
            [routerLink]="['/contractor-details', contractor.id]"
          ></app-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="contractors.length === 0" class="contractorListStyle title">
  <p>Aucun prestataire à afficher.</p>
</div>

