<h2>Détails d'un technicien audité</h2>

<div *ngIf="technicianDetails && technicianDetails.auditInformations">
  <div class="technicianDetails">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Carte professionnelle</th>
        <th>Habilitations</th>
        <th>AIPR</th>
        <th>PPR</th>
        <th>Balisage véhicule</th>
        <th>EPI</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.lastName }}</td>
        <td>{{ technicianDetails.firstName }}</td>
        <td>{{ technicianDetails.auditInformations.professionalCard ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.qualifications ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.aiprAuthorization ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.pprPlan ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.vehicleMarking ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.personalProtectiveEquipment ? 'OK' : 'NOK' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="technicianDetails && technicianDetails.auditInformations">
  <div class="technicianDetails">
    <table>
      <thead>
      <tr>
        <th>Equipement</th>
        <th>Méthodologie de travail</th>
        <th>Process</th>
        <th>Évaluation</th>
        <th>Nacelle</th>
        <th>VGP</th>
        <th>CACES</th>
        <th>Nacelle volante</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.auditInformations.equipment ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.workMethodology ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.process ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.technicianRating ?
          displayTechnicianRating(technicianDetails.auditInformations.technicianRating) : 'Aucune' }}</td>
        <td>{{ technicianDetails.auditInformations.hasCherryPicker ? 'Oui' : 'Non' }}</td>
        <td>{{ technicianDetails.auditInformations.hasVGP ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.hasCACES ? 'OK' : 'NOK' }}</td>
        <td>{{ technicianDetails.auditInformations.hasFlyingCherryPicker ? 'Oui' : 'Non' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="technicianDetails && technicianDetails.auditInformations">
  <div class="technicianDetails">
    <table>
      <thead>
      <tr>
        <th>Commentaire d'audit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ technicianDetails.auditInformations.auditComment ? technicianDetails.auditInformations.auditComment : 'Aucun' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="buttons">
  <app-button [buttonText]="'Auditer'" [isSubmitButton]="true" [routerLink]="['/audit-technician', technicianDetails?.id]"></app-button>
  <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
</div>
