@import '../../../../assets/style/palette';

.technicianDetails {
  @extend .detailsContainer;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

table {
  @extend .tableContainer;
}

.secondTable {
  margin-top: 30px;
}

th, td {
  @extend .thAndTdContainer;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.buttons {
  display: flex;
  justify-content: center;
}
