@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.rowClass {
  @extend .rowContainer, .centerContainer;
}

.passwords {
  margin-bottom: 40px;
}

form {
  @extend .centerContainer, .columnContainer;
  padding-top: 40px;
}


