<h2>Changement de mot de passe</h2>

<form [formGroup]="form">

  <div class="rowClass passwords">
    <mat-form-field class="password">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" maxlength="50">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('required')">{{ requiredMessage }}</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('pattern')">{{ errorMessage }}</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">{{ minLengthMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>Confirmation</mat-label>
      <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" maxlength="50">
      <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">{{ requiredMessage }}</mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('mismatch')">{{ mismatchPasswords }}</mat-error>
    </mat-form-field>
  </div>

  <div class="rowClass">
    <app-button [buttonText]="'Modifier'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
    <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
  </div>

</form>

