@import '../../../../assets/style/palette';

.employeeDetails {
  @extend .listTitleContainer;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

.employeeListStyle {
  @extend .bodyListContainer;
}

table {
 @extend .tableContainer;
}

th, td {
  @extend .thAndTdListContainer;
}

th {
  @extend .thListContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}



