<h2>Liste des employés</h2>
<div *ngIf="employees && employees.length > 0" class="employeeListStyle">
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of currentPageData" [ngStyle]="{'color': employee.active?.isActive ? '' : 'red'}">
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.firstName }}</td>
      <td>
        <app-button
          [buttonText]="'Voir les détails'"
          [routerLink]="['/employee-details', employee.id]"
        ></app-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!employees || employees.length === 0" class="employeeListStyle">
  <p>Aucun employé à afficher</p>
</div>

<app-paginator [totalItems]="totalEmployees" [pageSize]="pageSize" (pageChanged)="onPageChanged($event)"></app-paginator>

