<h2>Recherche d'un technicien</h2>
<div class="search-technician">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Rechercher par nom ou prénom" [formControl]="searchCtrl" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div *ngIf="searchCtrl.value && searchResults.length > 0">
    <ul>
      <li *ngFor="let result of searchResults" [routerLink]="['/audit-technician', result.id]">
        {{ result.lastName }} {{ result.firstName }}
      </li>
    </ul>
  </div>

  <div *ngIf="searchCtrl.value && searchResults.length === 0" class="noResult">
    <p>Aucun résultat trouvé.</p>
  </div>
</div>
