<div class="page">
  <div class="category">
    <h1 class="title">Employés</h1>
    <div class="buttons">
      <app-button [buttonText]="'Voir les employés'" routerLink="/employee-list"></app-button>
      <app-button [buttonText]="'Ajouter un employé'" routerLink="/add-employee"></app-button>
      <app-button [buttonText]="'Rechercher un employé'" routerLink="/search-employee"></app-button>
    </div>
  </div>

  <div class="category">
    <h1 class="title">Acomptes</h1>
    <div class="buttons">
      <app-button [buttonText]="'Ajouter un acompte'" routerLink="/add-deposit"></app-button>
      <app-button [buttonText]="'Voir les acomptes'" routerLink="/deposit-list"></app-button>
    </div>
  </div>
</div>

<div class="page">
  <div class="category">
    <h1 class="title">Remboursements</h1>
    <div class="buttons">
      <app-button [buttonText]="'Ajouter un remboursement'" routerLink="/add-refund"></app-button>
      <app-button [buttonText]="'Voir les remboursements'" routerLink="/refund-list"></app-button>
    </div>
  </div>

  <div class="category">
    <h1 class="title">Avertissements</h1>
    <div class="buttons">
      <app-button [buttonText]="'Ajouter un avertissement'" routerLink="/add-warning"></app-button>
      <app-button [buttonText]="'Voir les avertissements'" routerLink="/warning-list"></app-button>
    </div>
  </div>
</div>
