.page {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.category {
  text-align: center;
}

h1 {
  margin: 20px 40px;
  padding: 15px 10px 10px 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.title {
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid #ada4a4;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
