.allPage {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  background-color: #f3f3f3;
  width: 100%;
  color: #2eb3db;
  font-family: 'league_spartan_bold', serif;
}

.title {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rowClass {
  display: flex;
  flex-direction: row;
}

img {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin: 0 0 5px 10px;
}

.notAuthenticated {
  font-size: 35px;
  font-family: 'league_spartan_bold', serif;
  color: #2eb3db;
}

#titleNotAuthenticated {
  &:hover {
    cursor: pointer;
  }
}

#imageNotAuthenticated {
  margin-top: 2.5rem;
  margin-left: 20px;
  height: 4rem;
  width: auto;
}


.login {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

#login {
  margin-bottom: 20px;
}

mat-icon, button {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  border-radius: 5px;
}

button {
  margin-left: 40px;
}

@media only screen and (max-width: 768px) {
  .mobile-menu {
    background-color: #f3f3f3;
    padding: 10px;
  }

  .toggle-btn {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #2eb3db;
    cursor: pointer;
  }

  .menu-list {
    display: none;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    display: block;
  }

  .menu-list li a {
    display: block;
    padding: 10px 0;
    color: #2eb3db;
    text-decoration: none;
  }

  .toggle-btn:checked + .menu-list {
    display: block;
  }

  .rowClass {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #titleNotAuthenticated {
    font-size: 30px;
    margin-bottom: 5px;
  }

  #imageNotAuthenticated {
    width: 35px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 25px;
  }

  .notAuthenticated {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 16px;
  }

  img {
    width: 20px;
    height: auto;
  }

  #settings, #logout {
    width: 50px;
    height: auto;
  }

  #settingsMobile, #settingsMobile mat-icon {
    color: #f3f3f3;
    background-color: #2eb3db;
  }

  #logoutMobile, #logoutMobile mat-icon {
    color: #f3f3f3;
    background-color: red;
  }

}


