<div *ngIf="authService.isAuthenticated" class="allPage">
  <div class="title" routerLink="/">
    <h1>{{ title | uppercase }}</h1>
    <img alt="logo of Adjoint society" src="assets/img/adjoint_logo.png">
    <button class="mobileNavButton" *ngIf="isMobileScreen" (click)="toggleNavigation()">
      <mat-icon>list</mat-icon>
    </button>
  </div>

  <div class="navigationBar" [ngClass]="{'show': showNavigation && isMobileScreen}">
    <app-button [buttonText]="'Accueil'" [isNavigationButton]="true" routerLink="/"></app-button>

    <app-button *ngIf="authService.roles && (authService.roles.includes('ADMIN')
                                          || authService.roles.includes('MANAGER') || authService.roles.includes('RH'))"
                [buttonText]="'Prestataires'" [isNavigationButton]="true" routerLink="/contractor-home"></app-button>

    <app-button *ngIf="authService.roles && (authService.roles.includes('ADMIN') || authService.roles.includes('RH')
                    || authService.roles.includes('MANAGER'))" [buttonText]="'Employés'" [isNavigationButton]="true"
                routerLink="/employee-home"></app-button>

    <app-button [buttonText]="'Techniciens'" *ngIf="authService.roles && (authService.roles.includes('ADMIN') || authService.roles.includes('USER')
                                                 || authService.roles.includes('MANAGER'))"
                [isNavigationButton]="true" routerLink="/technician-home"></app-button>

    <app-button *ngIf="authService.roles && (authService.roles.includes('ADMIN') || authService.roles.includes('USER')
                                          || authService.roles.includes('MANAGER'))"
                [buttonText]="'Audit'" [isNavigationButton]="true" routerLink="/audit-home"></app-button>

    <app-button *ngIf="authService.roles && authService.roles.includes('ADMIN')" [buttonText]="'Utilisateurs'"
                [isNavigationButton]="true" routerLink="/users-home"></app-button>
  </div>

  <div *ngIf="!isMobileScreen" class="login">
      <app-button id="settings" [buttonText]="'Paramètres'" [routerLink]="['/settings', authService.username]"></app-button>
      <app-button id="logout" [buttonText]="'Déconnexion'" [isLogoutButton]="true" (onClick)="handleLogout()"></app-button>
  </div>
  <div *ngIf="isMobileScreen">
    <button id="settingsMobile" [routerLink]="['/settings', authService.username]"><mat-icon>settings</mat-icon></button>
    <button id="logoutMobile" (click)="handleLogout()"><mat-icon>power_settings_new</mat-icon></button>
  </div>
</div>

<div *ngIf="!authService.isAuthenticated" class="center">
  <div class="rowClass notAuthenticated" routerLink="/">
    <h1 id="titleNotAuthenticated">{{ title | uppercase }}</h1>
    <img id="imageNotAuthenticated" alt="logo of Adjoint society" src="assets/img/adjoint_logo.png">
  </div>
</div>
