<h2>Détails d'un prestataire</h2>

<div>
  <div *ngIf="contractorDetails" class="contractorDetails">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Responsable</th>
        <th>N° de SIREN</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Ville</th>
        <th>Pays</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ contractorDetails.name }}</td>
        <td>{{ contractorDetails.responsibleName }}</td>
        <td>{{ contractorDetails.sirenNumber ? contractorDetails.sirenNumber : 'Aucun' }}</td>
        <td>{{
            contractorDetails.phoneNumber?.phoneNumber ?
              contractorDetails.phoneNumber?.phoneNumber : 'Aucun'
          }}
        </td>
        <td>{{ contractorDetails.address?.contentAddress }}</td>
        <td>{{ contractorDetails.address?.zipCode }}</td>
        <td>{{ contractorDetails.address?.city }}</td>
        <td>{{ contractorDetails.address?.country }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-button [buttonText]="(!showTechnicians ? 'Voir les techniciens' : 'Ne plus voir')"
              (onClick)="toggleTechnicians()" class="listTechnicianByCompany"></app-button>
  <div *ngIf="showTechnicians">
    <h3 class="contractorDetails">Liste des techniciens</h3>
    <div class="listTechnicianByCompany">
      <div *ngIf="contractorDetails?.technicians?.length != 0">
        <div *ngFor="let technician of contractorDetails?.technicians" class="contractorDetails">
          <table>
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th *ngIf="showWarningIcon(technician.auditInformations)"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr [ngStyle]="{'color': technician.active?.isActive ? '' : 'red'}">
              <td>{{ technician.lastName }}</td>
              <td>{{ technician.firstName }}</td>
              <td *ngIf="showWarningIcon(technician.auditInformations)">
                <mat-icon>warning</mat-icon>
              </td>
              <td>
                <app-button
                  [buttonText]="'Voir les détails'"
                  [routerLink]="['/audit-technician-details', technician.id]"
                ></app-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="contractorDetails?.technicians?.length === 0" class="contractorListStyle title">
        <p>Aucun technicien à afficher.</p>
      </div>

    </div>
  </div>
  <div class="buttons">
    <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
  </div>
</div>

