@import '../../../../assets/style/palette';

.contractorDetails {
@extend .detailsContainer;
  width: 80rem;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

table {
  @extend .tableContainer;
}

.secondTable {
  margin-top: 50px;
}

th, td {
  @extend .thAndTdContainer;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}

.buttons {
  display: flex;
  justify-content: center;
}

.listTechnicianByCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-icon {
  color: red;
}

