<h2>Liste des remboursements</h2>

@if (refunds.length > 0) {
  <div class="refundList">
    <table>
      <thead>
      <tr>
        <th>Employé</th>
        <th>Date</th>
        <th>État</th>
        <th>Montant</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      @for (refund of refunds;track refund.id) {
        <tbody>
        <tr>
          <td>{{ refund.employee?.firstName }} {{ refund.employee?.lastName }}</td>
          <td>{{ refund.date | date: dateFormat }}</td>
          <td>{{ displayRefundStateValue(refund.refundState) }}</td>

          <td>{{ refund.totalRefund }} €</td>
          <td [routerLink]="['/update-refund', refund.id]">
            <mat-icon>create</mat-icon>
          </td>
          <td (click)="deleteRefund(refund.id)" id="deleteIcon">
            <mat-icon>delete</mat-icon>
          </td>
        </tr>
        </tbody>
      }

    </table>
  </div>
} @else {
  <div class="refundList title">
    <p>Aucun remboursement à afficher.</p>
  </div>
}

<div class="centerClass">
  <app-button [buttonText]="'Ajouter un remboursement'" routerLink="/add-refund"></app-button>
</div>
