@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.refundList {
  @extend .bodyListContainer;
}

table {
  @extend .tableContainer;
}

th, td {
  @extend .thAndTdListContainer
}

th {
  @extend .thListContainer
}

tr:nth-child(odd) {
  background-color: $back-color;
}

#deleteIcon {
  color: red;
}

mat-icon:active {
  transform: translateY(2px);
}

mat-icon {
  cursor: pointer;
}

mat-icon:hover {
  color: darkred;
}

.centerClass {
  @extend .centerContainer;
}
