@import './assets/style/palette';

@font-face {
  font-family: 'league_spartan';
  src: url('assets/font/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'league_spartan_bold';
  src: url('assets/font/LeagueSpartan-Bold.ttf') format('truetype');
}


body {
  background-color: #ece9e9;
  margin: 0;
  padding: 0;
  font-family: 'league_spartan', serif;
  color: black;
}

form {
  border: 1px solid #ada4a4;
  border-radius: 4px;
  padding: 10px;
  background-color: #cbc6c6;
}

mat-form-field {
  border-radius: 4px;
}
