<div class="allPage">
  <div *ngIf="!authService.isAuthenticated" id="login">
    <app-button [buttonText]="'Connexion'" [isLoginButton]="true" routerLink="/login"></app-button>
  </div>

  <div class="homeContent">
    <p>
      Bonjour et bienvenue sur l'application Fibernet !
    </p>
    <p *ngIf="!authService.isAuthenticated">
      Veuillez vous connecter pour y accéder.
    </p>
  </div>
</div>
