.allPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeContent {
  font-weight: bold;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 24px 24px 24px 24px;
  margin: 70px 16px 16px 16px;
  transition: background-color 0.3s;
  color: black;
  font-size: x-large;
}

.login {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 768px){

  .homeContent {
    font-size: 15px;
    width: 15rem;
    height: auto;
  }

}
