@import '../../../../assets/style/palette';

.employeeDetails {
@extend .detailsContainer;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

table {
 @extend .tableContainer;
}

th, td {
  @extend .thAndTdContainer;
}

th {
  @extend .thContainer;
}

tr:nth-child(odd) {
  background-color: $back-color;
}

.buttons {
  @extend .buttonsContainer;
}
