<h2>Détails d'un employé</h2>

<div *ngIf="employeeDetails">
  <div class="employeeDetails">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Email</th>
        <th>Type de contrat</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ employeeDetails.lastName }}</td>
        <td>{{ employeeDetails.firstName }}</td>
        <td>{{ employeeDetails.birthDate | date: dateFormat }}</td>
        <td>{{ employeeDetails.address.contentAddress }}</td>
        <td>{{ employeeDetails.address.zipCode }}</td>
        <td>{{ employeeDetails.address.city }}</td>
        <td>{{ employeeDetails.address.country }}</td>
        <td>{{ employeeDetails.email?.email ? employeeDetails.email?.email : 'Aucun' }}</td>
        <td>{{ displayContractTypeValue(employeeDetails.contractType) }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employeeDetails">
    <div class="employeeDetails">
      <table>
        <thead>
        <tr>
          <th>Date d'entrée</th>
          <th>Date de sortie</th>
          <th>Mutuelle</th>
          <th>Type de mutuelle</th>
          <th>N° de Sécu</th>
          <th>Téléphone personnel</th>
          <th>Téléphone professionnel</th>
          <th>Métier</th>
          <th>Travailleur étranger</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ employeeDetails.entryDate | date: dateFormat}}</td>
          <td>{{ employeeDetails.exitDate ? (employeeDetails.exitDate | date: dateFormat) : 'Aucune' }}</td>
          <td>{{ employeeDetails.hasCompanyMutual ? 'Oui' : 'Non' }}</td>
          <td>{{ displayMutualTypeValue(employeeDetails.mutualType) }}</td>
          <td>{{ employeeDetails.secuNumber ? employeeDetails.secuNumber : 'Aucun' }}</td>
          <td>{{ employeeDetails.personalPhoneNumber ? employeeDetails.personalPhoneNumber : 'Aucun' }}</td>
          <td>{{ employeeDetails.phoneNumber?.phoneNumber ?
            employeeDetails.phoneNumber?.phoneNumber : 'Aucun' }}</td>
          <td>{{ employeeDetails.jobType }}</td>
          <td>{{ employeeDetails.foreignWorker ? 'Oui' : 'Non' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  <div class="buttons">
    <app-button [buttonText]="'Modifier'" [isUpdateButton]=true
                [routerLink]="['/update-employee', employeeDetails.id]">
    </app-button>
    <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
    <app-button *ngIf="authService.roles.includes('ADMIN')" [buttonText]="'Supprimer'" [isDeleteButton]=true (onClick)="deleteEmployee()"></app-button>
    <app-button [buttonText]="employeeDetails.active?.isActive ? 'Actif' : 'Inactif'" [isUpdateButton]="true" (onClick)="updateStateEmployee()">

    </app-button>

  </div>
</div>
</div>
