<div class="title">
  <h2>Audit du Technicien {{ technicianDetails?.firstName }} {{ technicianDetails?.lastName }}</h2>
</div>

<div class="allPage">
  <form [formGroup]="form">
    <div formGroupName="auditInformations">

      <div class="rowClass">
        <div class="columnClass radioButton">
          <mat-label>Carte professionnelle</mat-label>
          <mat-radio-group formControlName="professionalCard">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="columnClass radioButton">
          <mat-label>Habilitations</mat-label>
          <mat-radio-group formControlName="qualifications">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="rowClass">
        <div class="columnClass radioButton">
          <mat-label>AIPR</mat-label>
          <mat-radio-group formControlName="aiprAuthorization">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="columnClass radioButton">
          <mat-label>PPR</mat-label>
          <mat-radio-group formControlName="pprPlan">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="rowClass">
        <div class="columnClass radioButton">
          <mat-label>Balisage véhicule</mat-label>
          <mat-radio-group formControlName="vehicleMarking">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="columnClass radioButton">
          <mat-label>EPI</mat-label>
          <mat-radio-group formControlName="personalProtectiveEquipment">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="rowClass">
        <div class="columnClass radioButton">
          <mat-label>Equipement</mat-label>
          <mat-radio-group formControlName="equipment">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="columnClass radioButton">
          <mat-label>Méthodologie de travail</mat-label>
          <mat-radio-group formControlName="workMethodology">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="rowClass">
        <div class="columnClass radioButton">
          <mat-label>Process</mat-label>
          <mat-radio-group formControlName="process">
            <mat-radio-button [value]="true">OK</mat-radio-button>
            <mat-radio-button [value]="false">NOK</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="columnClass radioButton">
          <mat-label>Nacelle</mat-label>
          <mat-radio-group formControlName="hasCherryPicker">
            <mat-radio-button [value]="true">Oui</mat-radio-button>
            <mat-radio-button [value]="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="rowClass">
        <div *ngIf="form.get('auditInformations.hasCherryPicker')?.value === true">
          <div class="columnClass radioButton">
            <mat-label>VGP</mat-label>
            <mat-radio-group formControlName="hasVGP">
              <mat-radio-button [value]="true">OK</mat-radio-button>
              <mat-radio-button [value]="false">NOK</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="columnClass radioButton">
            <mat-label>CACES</mat-label>
            <mat-radio-group formControlName="hasCACES">
              <mat-radio-button [value]="true">OK</mat-radio-button>
              <mat-radio-button [value]="false">NOK</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div *ngIf="form.get('auditInformations.hasCherryPicker')?.value === false" class="columnClass radioButton">
          <mat-label>Nacelle volante</mat-label>
          <mat-radio-group formControlName="hasFlyingCherryPicker">
            <mat-radio-button [value]="true">Oui</mat-radio-button>
            <mat-radio-button [value]="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>

     <div class="columnClass radioButton">
       <mat-radio-group formControlName="technicianRating">
         <mat-label>Évaluation :</mat-label>
         <mat-radio-button value="GOOD">Bon</mat-radio-button>
         <mat-radio-button value="AVERAGE">Moyen</mat-radio-button>
         <mat-radio-button value="BAD">Mauvais</mat-radio-button>
       </mat-radio-group>
     </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Commentaire d'audit</mat-label>
          <textarea matInput formControlName="auditComment"></textarea>
        </mat-form-field>
      </div>

      <div class="centerClass">
        <app-button [buttonText]="'Valider'" [isSubmitButton]="true" (onClick)="onSubmit()"></app-button>
        <app-button [buttonText]="'Retour'" [isBackButton]="true" (onClick)="goBack()"></app-button>
      </div>

    </div>
  </form>
</div>
