@import '../../../../assets/style/palette';

.allPage {
  width: 50rem;
  display: flex;
  justify-content: center;
}

h2 {
  @extend .h2Container, .detailsContainer;
}

mat-radio-group, mat-radio-button {
  @include radioButtonMixin(15);
}

mat-label {
  color: gray;
}

.full-width {
  width: 100%;
}

.columnClass {
  margin: 12px;
  @extend .columnContainer;
}

.rowClass {
  @extend .rowContainer;
}

.centerClass {
  @extend .centerContainer;
}

.radioButton {
  @include radioButtonMixin(15);
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #ada4a4;
}


.star-rating {
  display: flex;
  align-items: center;

  mat-icon {
    font-size: 24px;
    cursor: pointer;
  }
}

mat-icon {
  cursor: pointer;
}
