@import '../../../../assets/style/palette';

.page {
 @extend .messageStyleContainer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

mat-icon {
  color: red;
}

.iconeSize {
  transform: scale(4);
  margin-left: 5rem;
}
