@import '../../../../assets/style/palette';

h2 {
  @extend .h2Container, .detailsContainer;
}

.center {
  display: flex;
  justify-content: center;
}

.columnClass {
  @extend .columnContainer;
}

.rowClass {
  @extend .rowContainer;
}

.password {
  width: 13.25rem;
  margin-bottom: 4.5rem;
}

.buttonsClass {
  @extend .buttonsContainer;
}
